@font-face {
  font-family: 'Josefin Sans', sans-serif;
  src: url("./assets/fonts/JosefinSans.ttf");
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: url("./assets/img/bg.png");
  text-align: center;
}

h1 > span {
  font-size: 15px;
  text-decoration: underline 1px solid pink;
}

.material-icons.md-medium { font-size: medium; }
